{# По умолчанию Django использует форму Authentication Form из модуля django.   #}
{# contrib.auth.forms. Эта форма пытается аутентифицировать пользователя и ге-  #}
{# нерирует исключение валидации, если попытка не удалась                       #}

{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <h1>Вход</h1>
    {% if form.errors %} {# убеждаемся: верно ли указаны данные пользователя #}
        <p>Ваше имя и пароль не совпадают. Попробуйте снова.</p>
    {% else %}
        <p>Для входа используйте свои учетные данные или <a href="{% url "register" %}">зарегистрируйтесь</a>.</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}" /> {# скрытый элемент <input>, чтобы отправить данные #}
                                                                 {# под именем next (куда перенаправить пользователя #}
                                                                 {# после авторизации) #}
                                                                 {# Параметр next должен быть корректным URL’ом. #}
                                                                 {# Если он указан, обработчик логина Django перенаправит #}
                                                                 {# пользователя по этому URL’у после успешной авторизации. #}

            <p><input type="submit" value="Вход"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
    </div>
    <div class="social">
      <ul>
        <li class="facebook"><a href="{% url "social:begin" "facebook" %}">Вход с помощью Facebook</a></li>
      </ul>
    </div>
{% endblock %}
